*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    z-index: 4;
}
.header_body{
    position: relative;
    /* z-index: 2; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_list{
    display: flex;
    position: relative;
    z-index: 4;
}
.header_list a{
    color: white;
    font-size: 20px;
    padding: 20px 10px;
}
.logo a{
    font-size: 50px;
    color: rgb(68, 107, 29);
}
.logo{
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.header_text{
    position: relative;
    top: 57px;
}

 @media screen and (max-width:700px) {
 .burger::before{
   content: "";
   background-color: #fff;
   position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    transition: all 1s;
}
.burger{
    z-index: 10;
    position: relative;
    width: 30px;
    height: 30px;
    /* background-color: #fff; */
}
.burger::after{
    content: "";
    background-color: #fff;
    position: absolute;
     width: 100%;
     height: 2px;
     left: 0;
     bottom: 10px;
    transition: all 1s;
 }
 .burger span{
     height: 2px;
     width: 100%;
     position: absolute;
     background-color: white;
     left: 0;
     top: 9px;
     transition: all 1s;
 }  
   .menu{
     position: fixed;
     top: -100%;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgb(160, 160, 160);
     padding: 80px 220px;
     transition: all 1s linear;
 }
 .menu.active{
     top: 0;
 }
 .burger.active::before{
     transform: rotate(45deg);
     top: 10px;
 }
 .burger.active::after{
     transform: rotate(-45deg);
     bottom: 18px;
 }
 .burger.active span{
     transform: scale(0);
 }
 .header_list{
     display: block;
 }
 .header_list li{
     margin-bottom: 15px;
 }
 }
 